---
import ThemeSwitcher from "../utilities/ThemeSwitcher.astro";
---

<header class="content-grid py-4">
  <div class="flex flex-col md:flex-row md:items-center md:justify-between">
    <div class="flex items-center gap-2">
      <a href="/" class="no-underline font-semibold text-2xl">Karsten Pedersen</a>
      <ThemeSwitcher />
    </div>
    <ul
      class="flex items-center gap-x-4 min-h-[40px] list-none flex-wrap"
    >
      <li>
        <a class="no-underline dark:text-gray" href="/projects">projects</a>
      </li>
      <li>
        <a class="no-underline dark:text-gray" href="/cv">cv</a>
      </li>
      <li>
        <a class="no-underline dark:text-gray" href="/blog">blog</a>
      </li>
    </ul>
  </div>
</header>
