---
import { getCollection } from 'astro:content';
import BlogLayout from "../../lib/components/layouts/BlogLayout.astro";
import BlogList from "../../lib/components/BlogList.astro";

const allPosts = await getCollection("blog", ({ data }) => {
    return data.draft !== true;
});
---

<BlogLayout>
  <section>
    <h1>Blogs</h1>
    <BlogList blogs={allPosts} />
  </section>
</BlogLayout>

