---
import { getCollection } from 'astro:content';
import Layout from "../../lib/components/layouts/Layout.astro";
import CaseList from "../../lib/components/CaseList.astro";

const allCases = await getCollection("cases", ({ data }) => {
    return data.draft !== true;
});
---

<Layout>
  <section>
    <h1>Cases</h1>
    <CaseList cases={allCases} />
  </section>
</Layout>


