---
import Layout from "$lib/layouts/Layout.astro";
import "$lib/styles/app.css";
import {Button} from "$lib/components/ui/button"
---

<Layout title="Karsten Pedersen">
  <Button>Hello</Button>
</Layout>
