---
import { getCollection, render } from 'astro:content';
import Layout from "$lib/layouts/Layout.astro";
import PostCard from "$lib/components/posts/PostCard.svelte";

// TODO: Only get latest
const posts = await getCollection('posts');
---

<Layout>
  <div class="typography">
    <section id="hero" class="mb-10 sm:mb-16 md:mb-28">
      <h1>Welcome</h1>
      <p>Welcome to my blog, take a look around.</p>
      <div>
        Socials
      </div>
    </section>
    <section>
      <div>
        {posts.map((post) => (
          <PostCard id={post.id} title={post.data.title} description={post.data.description} />
        ))}
      </div>
    </section>
  </div>
</Layout>
