---
import Header from "../lib/components/Header.astro";
import "../global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <Header />
        <main>
            <section>
                <h1>Karsten pedersen</h1>
                <p>Computer science student from Denmark.</p>
            </section>
            <section>
                <h2>Status</h2>
                <p>
                    Currently taking a bachelor in computer science @ <a
                        href="https://www.sdu.dk/en/uddannelse/bachelor/datalogi"
                        >University of Southern Denmark, SDU</a
                    >.
                </p>
            </section>
        </main>
    </body>
</html>
