---
import { Icon } from 'astro-icon/components';
---

<button id="theme-selector">
  <Icon class="dark:hidden" name="sun" size={18} />
  <Icon class="hidden dark:block dark:text-gray" name="moon" size={18}/>
</button>

<script>
  document.getElementById('theme-selector')?.addEventListener('click', () => {
    if (localStorage.theme === 'dark') {
      localStorage.theme = 'light';
      document.documentElement.classList.remove('dark');
    } else {
      localStorage.theme = 'dark';
      document.documentElement.classList.add('dark');
    }
  });
</script>
