---
import { getCollection } from 'astro:content';
import Layout from "../../lib/components/layouts/Layout.astro";
import ProjectList from "../../lib/components/content/projects/ProjectList.astro";

const allProjects = await getCollection("projects", ({ data }) => {
    return data.draft !== true;
});
---

<Layout>
  <section>
    <h1>Projects</h1>
    <ProjectList projects={allProjects} />
  </section>
</Layout>


