---
import Header from "../navigation/Header.astro";
import Footer from "../navigation/Footer.astro";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <Header />
  <main class="content-grid">
    <slot />
  </main>
  <Footer />
</BaseLayout>
