---
import Header from "../Header.astro";
import BaseLayout from "./BaseLayout.astro";
const { title = "Karsten Pedersen" } = Astro.props;
---

<BaseLayout>
    <Header />
    <main>
        <slot />
    </main>
</BaseLayout>
