---
import BlogLayout from "./BlogLayout.astro";
import TableOfContents from "../TableOfContents.astro";
import Tags from "../Tags.astro";
import { format } from "date-fns";

const { post } = Astro.props;
const frontmatter = post.data;
const { Content, headings } = await post.render();
---

<BlogLayout>
  <article class="apply py-2 px-4 max-w-xl m-auto">
    <h1>{frontmatter.title}</h1>

    <div>
      <p>Published: {format(frontmatter.publishedAt, "PP")}</p>
      {frontmatter.publishedAt.getTime() !== frontmatter.editedAt.getTime() && <p>Edited: {format(frontmatter.editedAt, "PPp")}</p>}

      <Tags tags={frontmatter.tags} />
    </div>

    <hr />

    <Content />

    <hr />

    <h2>Related Posts</h2>
    {frontmatter.relatedPosts.map(p => (
      <li><a href={p.slug}>{p.slug}</a></li>
    ))}
  </article>
</BlogLayout>
