---
import BlogLayout from "./BlogLayout.astro";
import BlogList from "../content/blog/BlogList.astro";
import { getCollection, type CollectionEntry } from 'astro:content';

const { post } = Astro.props;
const frontmatter = post.data;
const { Content } = await post.render();

const blogs = await getCollection("blog", ({ slug }) => {
  return frontmatter.relatedPosts.some((blog: CollectionEntry<'blog'>) => blog.slug === slug);
});
---

<BlogLayout>
  <article id="reading-area">
    <div class="read-dark:bg-dark read-dark:text-light">
      <Content />
    </div>
  </article>

  <section>
    <h2>Blogs</h2>
    <BlogList blogs={blogs} />
  </section>
</BlogLayout>
