@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #060609;
  --darkgray: #27272A;
  --gray: #A1A1AA;
  --lightgray: #f6f8fa;
  --light: #fafafa;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      @apply scroll-auto;
    }
  }

  body {
    @apply flex flex-col min-h-[100dvh] bg-light dark:bg-dark text-dark dark:text-light transition-colors duration-700;
  }
  main {
    @apply mb-8;
  }

  h1,
  h2,
  h3 {
    @apply font-bold mt-4;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-xl;
  }

  p > a {
    @apply underline dark:text-light;
  }

  hr {
    @apply my-4;
  }

  blockquote p {
    @apply italic p-4 bg-lightgray text-dark rounded dark:bg-darkgray dark:text-light;
  }
  blockquote p::before {
    content: "\201C";
  }
  blockquote p::after {
    content: "\201D";
  }

  p {
    @apply mt-4 text-justify;
  }

}

@layer components {
  .content-grid {
    --padding-inline: 1rem;
    --content-max-width: 36rem;
    --breakout-max-width: 40rem;

    --breakout-size: calc(
      (var(--breakout-max-width) - var(--content-max-width)) / 2
    );

    display: grid;
    grid-template-columns:
      [full-width-start] minmax(var(--padding-inline), 1fr)
      [breakout-start] minmax(0, var(--breakout-size))
      [content-start] min(
        100% - (var(--padding-inline) * 2),
        var(--content-max-width)
      )
      [content-end]
      minmax(0, var(--breakout-size)) [breakout-end]
      minmax(var(--padding-inline), 1fr) [full-width-end];
  }

  .content-grid > :not(.breakout, .full-width),
  .full-width > :not(.breakout, .full-width) {
    grid-column: content;
  }

  .content-grid > .breakout {
    grid-column: breakout;
  }

  .content-grid > .full-width {
    grid-column: full-width;

    display: grid;
    grid-template-columns: inherit;
  }

  .background {
    --size: 400px;
    --speed: 30s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

    position: fixed;
    /* left: 200px; */
    /* top: 200px; */
    z-index: -1;
    /* left: 400px; */
    /* top: 400px; */
    translate: -50% -50%;
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background: linear-gradient(var(--light), #ffabe7);
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }

  .background::before {
    content: "";
    position: absolute;
    left: 200px;
    top: 200px;
    translate: -50% -50%;
    width: 200px;
    aspect-ratio: 1;
    background: white;
    border-radius: 50%;
    filter: blur(2rem);
  }

  .background::after {
    content: "";
    position: fixed;
    inset: 0;
    background: radial-gradient(circle, lime, transparent 30%),
      conic-gradient(
        red,
        blue,
        green,
        yellow,
        purple,
        magenta,
        cyan,
        yellow,
        orangered,
        red
      );
    mix-blend-mode: color-dodge;
    min-height: 100vh;
    opacity: 1;
  }
}
