---
import { Button } from "$lib/components/ui/button";
import { ArrowUp } from "lucide-astro";
---

<Button id="back-to-top">
    <ArrowUp />
</Button>

<script>
  document.getElementById('back-to-top')?.addEventListener('click', () => {
    window.scrollTo(0, 0);
  });
</script>