<header class="px-4">
  <ul
    class="flex items-center lowercase gap-x-4 min-h-[40px] list-none flex-wrap"
  >
    <li>
      <a href="/">/</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
  </ul>
</header>
