<header class="px-4">
    <ul class="flex items-center gap-4 h-[40px]">
        <li>
            <a href="/">/</a>
        </li>
        <li>
            <a href="/work">Work</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</header>
